---
import "../styles/global.css";

interface Props {
  pageTitle: string;
  pageDescription: string;
}

const { pageTitle, pageDescription } = Astro.props;

const cannonicalUrl =
  Astro.url.pathname === "/"
    ? Astro.site
    : new URL(Astro.url.pathname.replace(/\/+$/, ""), Astro.site).toString();
const ogImage = `${Astro.site}og-banner-rocketsim.jpg`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="RocketSim" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <title>{pageTitle}</title>
    <meta name="description" content={pageDescription} />
    <link rel="canonical" href={cannonicalUrl} />

    <meta property="og:site_name" content="RocketSim" />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={pageDescription} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:url" content={cannonicalUrl} />
    <meta name="twitter:card" content={ogImage} />
    <meta name="twitter:site" content="@rocketsim_app" />

    <!-- Google Tag Manager -->
    <script is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-59LFW4F4");
    </script>
    <!-- End Google Tag Manager -->

    <!-- Plausible -->
    <script
      is:inline
      defer
      data-domain="rocketsim.app"
      src="https://plausible.io/js/script.tagged-events.js"></script>
    <script>
      window.plausible =
        window.plausible ||
        function () {
          (window.plausible.q = window.plausible.q || []).push(arguments);
        };
    </script>
    <!-- End Plausible -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-59LFW4F4"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <slot />
  </body>
</html>
