---
import "../styles/global.css";

interface Props {
  pageTitle: string;
  pageDescription: string;
}

const { pageTitle, pageDescription } = Astro.props;

const cannonicalUrl =
  Astro.url.pathname === "/"
    ? Astro.site
    : new URL(Astro.url.pathname.replace(/\/+$/, ""), Astro.site).toString();
const ogImage = `${Astro.site}og-banner-rocketsim.jpg`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="RocketSim" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <title>{pageTitle}</title>
    <meta name="description" content={pageDescription} />
    <link rel="canonical" href={cannonicalUrl} />

    <meta property="og:site_name" content="RocketSim" />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={pageDescription} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:url" content={cannonicalUrl} />
    <meta name="twitter:card" content={ogImage} />
    <meta name="twitter:site" content="@rocketsim_app" />

    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css" />
  </head>
  <body>
    <slot />
    <script is:inline src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
    <script>
      AOS.init({ delay: 400, duration: 500, once: true, offset: 0 });
    </script>
  </body>
</html>
