---
import { getEntry } from "astro:content";

import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import PricingSection from "@/partials/PricingSection.astro";
import ComparePlans from "@/partials/ComparePlans.astro";
import Statistics from "@/partials/Statistics.astro";
import FaqSection from "@/partials/FaqSection.astro";
import CallToAction from "@/partials/CallToAction.astro";

const pageIndex = await getEntry("pricing", "-index");
if (!pageIndex) return null;
const { hero, title, meta_title, description } = pageIndex.data;
const { site: { base_url } } = config;

---

<Base title={title} meta_title={meta_title} description={description} canonical={`${base_url}/pricing`}>
  <PageHeader title={hero.title} isCenter={true} />
  <div class="ph-merged-section -mt-10">
    <PricingSection isPageHeader={true} />
  </div>
  <ComparePlans />
  <Statistics isFluid="true" />
  <FaqSection />
  <CallToAction />
</Base>
