---
import { getEntry } from "astro:content";

import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Header from "../old/components/Header.astro";
import Navigation from "../old/components/Navigation.astro";
import NavigationLink from "../old/components/NavigationLink.astro";

import logoImage from "../assets/rocketsim-logo.svg";

const pageIndex = await getEntry("terms", "-index");
if (!pageIndex) return null;
const { title, meta_title, description } = pageIndex.data;
const { site: { base_url } } = config;
---

<style>
  main {
    margin-bottom: 2rem;
  }

  p {
    margin: 1rem 0;
  }

  .articles {
    padding: 0;
    margin: 0;

    font-family: "Arial", sans-serif;

    list-style: none;
    counter-reset: article;
  }

  .articles > li {
    position: relative;

    margin-bottom: 1.5rem;

    counter-increment: article;
  }

  .articles > li::before {
    display: inline-block;
    width: 6.5rem;

    font-weight: bold;
    color: #fff;

    vertical-align: top;
    content: "Article " counter(article) ".";
  }

  .sections {
    padding-left: 0;
    margin: 0;

    counter-reset: section;
    list-style: none;
  }

  .sections > li {
    position: relative;

    padding-left: 6.5rem;

    counter-increment: section;
  }

  .sections > li::before {
    position: absolute;
    left: 0;

    width: 6.5rem;

    content: counter(article) "." counter(section) ".";
  }

  .subsections {
    padding-left: 0;
    margin: 0.5rem 0;

    list-style: none;
    counter-reset: subsection;
  }

  .subsections > li {
    position: relative;

    padding-left: 1.875rem;

    font-weight: normal;

    counter-increment: subsection;
  }

  .subsections > li::before {
    position: absolute;
    left: 0;

    width: 1.5rem;

    font-weight: normal;

    content: counter(subsection, lower-alpha) ".";
  }
</style>

  <Base title={title} meta_title={meta_title} description={description} canonical={`${base_url}/terms`}>
  <Header
    title="RocketSim Terms and Conditions"
    logo={logoImage}
    logoAlt='Written logo spelling: "RocketSim"'
  >
    Welcome to RocketSim! These Terms and Conditions govern your use of
    RocketSim, a developer tool designed to enhance app development experiences.
    By accessing or using RocketSim, you agree to these Terms. Please read them
    carefully.
  </Header>
  <Navigation>
    <NavigationLink href="/"> All Features </NavigationLink>
    <NavigationLink href="/team-insights">Team Licenses</NavigationLink>
  </Navigation>
  <div class="deprecated-grid">
    <div>
      <p>
        These are the Terms and Conditions of RNA Ventures B.V. established in
        Spanbroek, The Netherlands and registered with the Dutch Chamber of
        Commerce under number 95657312 (hereinafter: “RocketSim”).
      </p>
      <ol class="articles">
        <li>
          <strong>Hierarchy, and definitions</strong>
          <ol class="sections">
            <li>
              These Terms apply to all Agreements concluded between RocketSim
              and the Customer.
            </li>
          </ol>
        </li>
        <li>
          <strong>Definitions</strong>
          <ol class="sections">
            <li>
              The definitions of the terms written with a capital letter can be
              found in this article and apply to all provisions of the Terms.
              <ol class="subsections">
                <li>
                  <strong>Account:</strong> the right to access to a user interface
                  that Customer can use to manage and configure certain aspects of
                  the Services, get insights in statistics, as well as the information
                  stored by Customer.
                </li>
                <li>
                  <strong>Agreement:</strong> an agreement concluded between the
                  Customer and RocketSim on the basis of an approved Quotation of
                  which these Terms form an integral part. This agreement may cover
                  both the provision of the Services to Customers or to the (end)
                  User.
                </li>
                <li>
                  <strong>Customer:</strong> the legal person with whom RocketSim
                  has concluded an Agreement for the provision of the Services.
                </li>
                <li>
                  <strong>Customer Data:</strong> any data stored by Customer or
                  individual Users of Customer by way of the Services or otherwise
                  made available to RocketSim by Customer in the context of the Agreement.
                </li>
                <li>
                  <strong>Documentation:</strong> all accompanying materials (whether
                  in hard copy or in electronic format) supplied in connection with
                  the Services, including any and all manuals, instruction guides,
                  online documentation, any written materials accompanying the Services
                  or other materials provided to Customer by RocketSim which describe
                  the functionality and/or specifications of the Services.
                </li>
                <li>
                  <strong>GDPR:</strong> General Data Protection Regulation Regulation
                  (EU) 2016/679 of the European Parliament and of the Council of
                  27 April 2016 on the protection of natural persons with regard
                  to the processing of personal data and on the free movement of
                  such data, and repealing Directive 95/46/EC.
                </li>
                <li>
                  <strong>Intellectual Property Rights:</strong> intellectual property
                  rights of RocketSim or its licensors and which are part of or used
                  for the execution of the Agreement, such as but not limited to
                  intellectual property rights and related rights, such as copyrights,
                  database rights, trade name rights, trademark rights, design rights,
                  related rights, patent rights, as well as rights to know-how.
                </li>
                <li>
                  <strong>License Scope:</strong> the volumes (e.g. number of Users),
                  and/or other limitations that apply to the use of the Services,
                  as specified in the Agreement
                </li>
                <li>
                  <strong>Party or Parties:</strong> RocketSim and Customer together
                  or separately
                </li>
                <li>
                  <strong>Price List:</strong> the price list for the provision of
                  the Services as listed on the website of RocketSim (rocketsim.app).
                </li>
                <li>
                  <strong>Quotation:</strong> any offer or quotation from RocketSim,
                  as listed on the website of RocketSim (rocketsim.app), in the context
                  of the provision of the Services in the context of the Agreement.
                </li>
                <li>
                  <strong>Services:</strong> the services and activities that RocketSim
                  will provide to the Customer, as specified in the Agreement/Quotation,
                  which shall in any event include the provision of the RocketSim
                  App.
                </li>
                <li>
                  <strong>RocketSim App:</strong> a developer tool designed to enhance
                  app development experiences provided by RocketSim to Customer and
                  individual Users of Customer, as described in the Quotation, that
                  RocketSim makes available to Customers and Users.
                </li>
                <li>
                  <strong>Supervisory Authority:</strong> the Dutch authorities that
                  supervise the way in which the Parties comply with their legal
                  obligations under the law, such as, but not limited to the Autoriteit
                  Persoonsgegevens.
                </li>
                <li>
                  <strong>Terms:</strong> these terms and conditions.
                </li>
                <li>
                  <strong>User:</strong> the natural person who uses the Services
                  on behalf of the Customer.
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          <strong>Hierarchy, and definitions</strong>
          <ol class="sections">
            <li>
              Any terms or conditions introduced by the Customer, which diverge
              from or are not included in these Terms, will be considered
              binding upon RocketSim solely if and to the extent that RocketSim
              has explicitly accepted those terms or conditions in writing.
            </li>
            <li>
              In the event of conflicting provisions within the Agreement, these
              Terms, or any Appendices hereto, the following hierarchy shall be
              observed:
              <ol class="subsections">
                <li>Agreement / Quotation;</li>
                <li>Price List;</li>
                <li>these Terms</li>
                <li>Data processing agreement</li>
                <li>other Appendices.</li>
              </ol>
            </li>
            <li>
              These Terms have been translated from Dutch into English. In the
              event of any discrepancies or conflicts arising from the
              translation into English, the Dutch version of the Terms shall
              prevail for interpretation and enforcement.
            </li>
          </ol>
        </li>
        <li>
          <strong>Conclusion of the agreement</strong>
          <ol class="sections">
            <li>
              RocketSim’s offers and Quotations are non-binding and without
              obligation to contract, even when a validity period is specified.
            </li>
            <li>
              The Agreement is formalized when the prospective Customer accepts
              RocketSim’s offer or Quotation, provided that RocketSim
              subsequently confirms the conclusion of the Agreement.
            </li>
            <li>
              Contrary to the provisions of article 6:225, paragraph 2, of the
              Dutch Civil Code, RocketSim shall not be bound by an acceptance
              from a prospective Customer if the acceptance diverges from the
              content of the original offer or Quotation of RocketSim. RocketSim
              will only be obliged to adhere to any such deviating terms if
              expressly agreed thereto.
            </li>
            <li>
              RocketSim is not obliged to accept a request for a Quotation or
              the acceptance of the prospective Customer due to grounds such as,
              but not limited to:
              <ol class="subsections">
                <li>
                  the absence of necessary information or documents, including,
                  unless otherwise specified, at least a copy of a valid, lawful
                  means of identification, in the case of representation,
                  sufficient proof of the power of representation, such as an
                  extract from the Chamber of Commerce or legally signed
                  authorization;
                </li>
                <li>
                  any errors in the offer or Quotation issued by RocketSim;
                </li>
                <li>legal incapacity of the Customer.</li>
                <li>
                  If a request or acceptance is rejected by RocketSim, RocketSim
                  will notify the prospective Customer in writing or
                  electronically within fourteen (14) days of receipt of the
                  request or acceptance. Refusal or no response by RocketSim
                  never leads to liability for damage, directly or indirectly
                  caused by it.
                </li>
                <li>
                  Any general (purchase) conditions stipulated by the Customer
                  shall not be part of any Agreement between the Parties.
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          <strong>Execution of the Agreement</strong>
          <ol class="sections">
            <li>
              After the Agreement is concluded, RocketSim will execute it to the
              best of its abilities, applying due care and craftsmanship.
            </li>
            <li>
              The Customer is obligated to take all reasonable and necessary
              actions to facilitate the timely and accurate execution of the
              Agreement. This includes, but is not limited to, ensuring that all
              data that RocketSim deems necessary or that the Customer should
              reasonably understand as necessary for performance of the
              Agreement is provided to RocketSim promptly.
            </li>
            <li>
              Delivery terms specified or communicated by RocketSim always have
              an indicative scope, unless it is expressly indicated that it
              concerns a deadline. RocketSim is, even with an agreed deadline,
              only in default after receiving a written notice of default from
              the Customer.
            </li>
            <li>
              The provision of the Services are considered to be in compliance
              with the Agreement if RocketSim does not receive any comments or
              complaints, specifically in the form of a written report on
              reproducible defects, from the Customer within seven (7) calendar
              days following the delivery of the Services. In the case of
              defects related to the Services, RocketSim will diligently work to
              rectify them within a reasonable timeframe.
            </li>
          </ol>
        </li>
        <li>
          <strong>Duration and termination</strong>
          <ol class="sections">
            <li>
              The Agreement is entered into for the duration an as indicated in
              the Quotation. Unless otherwise agreed, the Agreement commences on
              the day the Agreement is concluded.
            </li>
            <li>
              If the term of the Agreement is not specified in the Quotation, it
              shall be deemed to have been entered into for a period of twelve
              (12) months.
            </li>
            <li>
              Unless otherwise agreed, in the absence of a termination notice
              that the other Party has reached at least thirty (30) days before
              the end of the then applicable term, the Agreement shall be
              tacitly renewed by terms equal to the initial term until
              terminated. The Customer is not permitted to terminate the
              Agreement in the interim.
            </li>
            <li>
              RocketSim is entitled to terminate (opzeggen), dissolve
              (ontbinden) or suspend (opschorten) the Agreement in its entirety
              or in part, with immediate effect, and without prior notice of
              default. Such actions will be carried out in writing, without the
              need for judicial intervention, and without any obligation to
              provide compensation, excluding RocketSim’s right to seek damages,
              loss of profits, and interest, in the following situations:

              <ol class="subsections">
                <li>
                  the Customer fails to meet its obligations under the
                  Agreement, either partially or within the designated time
                  frame, including but not limited to the stipulations of
                  Article 9.1;
                </li>
                <li>
                  due to the Customer's delay, RocketSim can no longer be
                  reasonably expected to fulfill the Agreement under the
                  initially agreed terms;
                </li>
                <li>
                  the Customer files for a suspension of payments, applies for
                  bankruptcy, or is declared bankrupt;
                </li>
                <li>
                  any portion of the Customer's assets is subject to seizure.
                </li>
              </ol>
            </li>
            <li>
              The Customer is entitled to terminate (opzeggen) the Agreement
              with immediate effect, without judicial intervention, in writing
              and without any obligation to pay compensation or damages, if
              RocketSim files for suspension of payments or is declared
              bankrupt.
            </li>
            <li>
              If the Agreement is terminated (opzeggen) or dissolved (ontbinden)
              on the grounds referred to in section 6.4 RocketSim’s claims
              against the Customer are immediately due and payable.
            </li>
            <li>
              If Rocket Sim suspends (opschorten) its obligations, it retains
              its rights under applicable law and the Agreement.
            </li>
            <li>
              In the event of termination (opzeggen) or dissolution (ontbinden)
              of the Agreement, for whatever reason, RocketSim shall be entitled
              to terminate or cancel the (access to) the Services and any
              Accounts associated with that Agreement immediately after the date
              on which the Agreement expires and to delete or make inaccessible
              all data stored in RocketSim’s systems on behalf of the Customer.
              RocketSim is not obliged to provide the Customer with a copy of
              this data on its own initiative. Before termination in accordance
              with the Agreement, the Customer may request a copy of this data.
            </li>
            <li>
              Termination (ontbinden) of the Agreement by the Customer shall not
              have retroactive effects, and no obligations to reverse actions
              (ongedaanmakingsverbintenissen) shall arise.
            </li>
            <li>
              In the event of a legally valid termination (opzegging) of the
              Agreement, RocketSim will make every effort, in accordance with
              the Agreement, to facilitate the transfer to another service
              provider at the request of the Customer. The Customer must submit
              this request before or at the time of termination (opzegging). For
              such cooperation, RocketSim will apply its prevailing hourly rate
              to the Customer. Additionally, all other expenses related to the
              transfer to another service provider shall be borne by the
              Customer.
            </li>
          </ol>
        </li>
        <li>
          <strong>RocketSim App License</strong>
          <ol class="sections">
            <li>
              In consideration of the fees as specified in the Agreement and if
              and insofar agreed between the Parties in the Agreement, RocketSim
              grants Customer a non-exclusive, non-transferable license for the
              use of the Services for the duration of the Agreement for its
              internal business purposes and in accordance with the License
              Scope. The license shall, unless agreed otherwise, become
              effective from the effective date of the Agreement.
            </li>
            <li>
              Notwithstanding anything stated to the contrary in the Agreement,
              Customer is expressly not permitted to access all or any part of
              the Services, in order to build a product or service which
              competes with the Services.
            </li>
            <li>
              In the event that Customer exceeds or is likely to exceed the
              License Scope, RocketSim, may charge additional costs based on the
              then applicable rates of RocketSim.
            </li>
            <li>
              The rights provided under this <s
                >Error! Reference source not found.</s
              > are granted to Customer only and shall not be considered granted
              to any subsidiary or holding company of Customer, unless expressly
              agreed otherwise.
            </li>
          </ol>
        </li>
        <li>
          <strong>Accounts</strong>
          <ol class="sections">
            <li>
              To access and use the Services, the Customer will be provided with
              an Account and asked to provide login information (a unique
              username and password) after conclusion of the Agreement.
            </li>
            <li>
              The Customer is obliged to use any Account made available by
              RocketSim in a careful manner and to keep its login information
              secure and strictly confidential. RocketSim has the right to
              assume that all acts performed following authentication of the
              Account has been performed under the supervision and with the
              approval of the Customer. The Customer is obliged to notify
              RocketSim immediately if it suspects abuse of and/or unauthorized
              access to its Accounts.
            </li>
          </ol>
        </li>
        <li>
          <strong>Rules of use</strong>
          <ol class="sections">
            <li>
              Customer shall not use the Services provided to it for any purpose
              that:
              <ol class="subsections">
                <li>
                  is libelous, defamatory, insulting, racist or discriminating,
                  or incites hate;
                </li>
                <li>
                  infringes third-party rights, in any case including but not
                  limited to intellectual property rights;
                </li>
                <li>
                  violates the privacy of third parties, in any case including
                  but not limited to distributing third-party personal data
                  without permission or necessity, or repeatedly harassing third
                  parties by providing them with unsolicited communications;
                </li>
                <li>
                  involves hyperlinks, torrents or similar information of which
                  Customer is aware or should be aware that it refers to
                  material that infringes third-party rights;
                </li>
                <li>
                  is otherwise illegal or causes damage or injury to any person
                  or property.
                </li>
              </ol>
            </li>
            <li>
              Customer will refrain from obstructing other customers or internet
              users or inflicting damage to the Services. Customer is prohibited
              from starting up processes or programs via the Services or
              otherwise of which Customer is aware or can reasonably assume that
              these will obstruct or inflict damage on RocketSim, other
              customers or internet users.
            </li>
            <li>
              Customer will be responsible for the activities of anyone who
              Customer allows to use the Services. Customer is also responsible
              for ensuring that its Users comply with the Agreement with respect
              to the use of the Services. Customer shall use all reasonable
              endeavors to prevent any unauthorized access to, or use of the
              Services and in the event of any such unauthorized access or use,
              promptly notify RocketSim.
            </li>
            <li>
              Customer bears responsibility for its Users. Any damage or loss
              caused by a User will be recovered from Customer.
            </li>
            <li>
              RocketSim reserves the right (but has no obligation thereto),
              without liability or prejudice to its other rights to Customer, to
              disable Customer’s and/or the Users’ access to the Services if
              Customer breaches the provisions of this article.
            </li>
          </ol>
        </li>
        <li>
          <strong>Support</strong>
          <ol class="sections">
            <li>
              RocketSim may provide Documentation relating to the Services
              through docs.rocketsim.app, intended for troubleshooting and
              general usage support. RocketSim may assume that Customer and its
              Users will first consult any Documentation before contacting the
              helpdesk. RocketSim may refer Customer and its Users back to the
              Documentation if it is of the opinion that the question or request
              can be solved by means thereof.
            </li>
            <li>
              RocketSim will provide a reasonable level of remote support with
              regard to the Services during Office Hours. Such support will be
              offered by e-mail through
              <a href="mailto:support@rocketsim.app">support@rocketsim.app</a>.
            </li>
            <li>
              RocketSim will apply all commercially reasonable best efforts to
              respond to any question or request submitted through the helpdesk
              as quickly as possible but cannot give any guarantees in this
              respect. The time required for the processing of support requests
              depends on the nature and complexity of the matter at hand.
            </li>
          </ol>
        </li>
        <li>
          <strong>Maintenance</strong>
          <ol class="sections">
            <li>
              RocketSim may from time to time add or change functionalities of
              the RocketSim App and/or Services. Suggestions and feedback of the
              Customer are welcome, but ultimately RocketSim decides which
              functionality will be added or changed.
            </li>
            <li>
              RocketSim shall announce changes to the RocketSim App and/or
              Services through it’s changelog in the Mac App Store.
            </li>
          </ol>
        </li>
        <li>
          <strong>API’s</strong>
          <ol class="sections">
            <li>
              In providing tthe Services to Customer RocketSim uses API’s of
              third parties to integrate different functionalities into the
              Services. If and to the extent – for whatever reason – these API’s
              are no longer supported RocketSim has the right to remove the
              corresponding features from the Services, without the possibility
              of termination by the Customer and without any obligation to
              provide compensation to Customer.
            </li>
          </ol>
        </li>
        <li>
          <strong>Customer Data, privacy and data protection</strong>
          <ol class="sections">
            <li>
              Customer shall own all right, title and interest in and to all
              Customer Data and shall have sole responsibility for the legality,
              reliability, integrity, accuracy and quality of Customer Data.
              RocketSim receives a limited license to use the Customer Data for
              the purpose of providing the Services, including any and all
              future aspects thereof.
            </li>
            <li>
              To the extent that Customer Data contains personal data within the
              meaning of the GDPR and such personal data is processed by
              RocketSim under the Agreement (e.g. within the context of
              provision of the Services), RocketSim acts as processor and
              Customer as controller within the meaning of the GDPR. In this
              case, the Parties will agree upon a separate data processing
              agreement. In the event Customer is a processor, RocketSim shall
              be deemed a sub-processor.
            </li>
            <li>
              RocketSim shall not be responsible for any loss, destruction,
              alteration or disclosure of Customer Data caused by Customer or
              any third party (except those third parties sub- contracted by
              RocketSim).
            </li>
            <li>
              If the Agreement is terminated, regardless of the reason for such
              termination RocketSim will destroy or delete Customer Data as soon
              as reasonably possible.
            </li>
          </ol>
        </li>
        <li>
          <strong>Prices and Payment</strong>
          <ol class="sections">
            <li>
              Unless expressly stated otherwise, all prices mentioned by
              RocketSim are exclusive of sales tax and other levies imposed by
              the government.
            </li>
            <li>
              All prices in any offer or Quotation are subject to potential
              programming and typographical errors.
            </li>
            <li>
              If a price is based on information provided by the Customer and
              this information proves to be incorrect, RocketSim has the right
              to adjust the prices accordingly, even after the Agreement has
              already been concluded.
            </li>
            <li>
              Periodic amounts may be charged in advance by RocketSim, unless
              otherwise agreed.
            </li>
            <li>
              Where the Agreement mentions "the applicable hourly rate" or
              "applicable rates" or words to the same effect, the then current
              hourly rates of RocketSim are meant.
            </li>
            <li>
              Unless otherwise agreed, by entering into the Agreement, the
              Customer grants an authorization to RocketSim to automatically
              collect the amounts owed by the Customer from the Customer's bank
              account or credit card.
            </li>
            <li>
              The Customer shall always ensure a sufficient balance in the bank
              account or sufficient credit space on his credit card intended for
              direct debit. If no debit can take place, the Customer must pay
              the amounts invoiced by RocketSim by other means before the end of
              the expiry period.
            </li>
            <li>
              The expiry period is thirty (30) days after the invoice date,
              unless otherwise stipulated in the Agreement.
            </li>
            <li>
              RocketSim is entitled to increase the prices used in this
              Agreement at any time. RocketSim will notify the Customer at least
              two (2) months in advance. In the event of a price increase, the
              Customer has the right to terminate the Agreement, subject to a
              notice period of one (1) month.
            </li>
            <li>
              RocketSim is entitled to increase the prices used in this
              Agreement annually, during the month of January, by a maximum
              percentage of 5%, without the possibility for the Customer to
              terminate the Agreement. Prices can also be increased by RocketSim
              at any time if the rates of suppliers of electricity, data center,
              software and (public) cloud solutions increase. Foregoing without
              the possibility for the Customer to terminate the Agreement,
              subject to a notice period of one (1) month.
            </li>
            <li>
              If RocketSim wishes to reduce the applicable prices and rates,
              RocketSim is entitled to implement this reduction immediately,
              without the possibility of termination by the Customer.
            </li>
            <li>
              RocketSim may set a maximum of the (quantitative) quantities, such
              as data traffic, CPU, memory, storage, and power per month, that
              the Customer may use in the context of the Services. If the
              maximum is exceeded, RocketSim may conclude the Services or charge
              additional costs, in accordance with the applicable rates, insofar
              as this is not further specified in the Agreement. RocketSim shall
              bear no liability for consequences of not being able to send,
              receive, store, or modify data if an agreed limit for storage
              space, CPU, memory, storage, or data traffic is reached.
            </li>
            <li>
              In the absence of payment from the due date of the invoice, the
              Customer is in default by operation of law, without a prior notice
              of default being required. RocketSim is then entitled to charge
              the Customer the entire amount due, as well as the interest
              calculated from the due date on the amount due at 1% per month,
              or, if higher, the statutory commercial interest.
            </li>
            <li>
              Without prejudice to the above, all costs associated with the
              collection of outstanding claims – both judicial and extrajudicial
              (including costs for lawyers, bailiffs, and debt collection
              agencies) – will be borne by the Customer. RocketSim is in any
              case entitled to charge an amount of extrajudicial costs equal to
              15% of the outstanding amount, with a minimum of EUR 250 (two
              hundred and fifty euros).
            </li>
            <li>
              RocketSim has the right to suspend and/or temporarily block the
              use of the Services if:
              <ol class="subsections">
                <li>
                  the Customer withdraws its authorization for payment, as
                  mentioned in article 14.6;
                </li>
                <li>
                  the Customer repeatedly fails to pay the invoices submitted by
                  RocketSim on time;
                </li>
                <li>
                  there is a deterioration in the solvency of the Customer that
                  gives rise to reasonable doubts about the ability to pay and
                  the creditworthiness of the Customer;
                </li>
                <li>
                  abuse or improper use of the Services has been detected;
                </li>
                <li>
                  the Customer acts contrary to its obligation under the
                  Agreement.
                </li>
              </ol>
            </li>
            <li>
              RocketSim may charge an administration fee for blocking and
              possible unblocking. The Customer remains liable for any amounts
              due periodically during the suspension of the Services.
            </li>
            <li>
              The Customer is not entitled to set off any payment obligation
              incumbent on the Customer against any claim against RocketSim for
              any reason whatsoever.
            </li>
            <li>
              RocketSim is entitled to set off the claims of the Customer
              against RocketSim, for whatever reason, against the claims from
              RocketSim against the Customer claims, for whatever reason.
            </li>
            <li>
              If RocketSim has reasonable doubts about the fulfilment of the
              Customer's payment obligations, RocketSim is entitled to require a
              bank guarantee or personal guarantee, or to demand a deposit. The
              amount thereof shall not exceed the amount that the Customer will
              (likely) owe for six (6) months.
            </li>
          </ol>
        </li>
        <li>
          <strong>Intellectual Property Rights</strong>
          <ol class="sections">
            <li>
              Customer acknowledges and agrees that RocketSim and/or its
              licensors own all Intellectual Property Rights in and to the
              RocketSim App, the Services, Documentation and other materials
              provided, unless and to the extent expressly agreed otherwise by
              means of signed instrument. Customer is not permitted to remove or
              alter any statement concerning copyright, trademarks, trade names
              or other Intellectual Property Rights from the RocketSim App, the
              Services and/or the Documents. Customer is not permitted to use or
              request domain names identical to or that confusingly correspond
              to any object that is subject to any Intellectual Property Right
              belonging to RocketSim and/or its licensors.
            </li>
            <li>
              Customer and Users are not entitled to make changes to the
              RocketSim App, the Services, the Documentation and any other
              materials provided by RocketSim and are not entitled to a copy of
              the source code, except as permitted by mandatory law or otherwise
              agreed. Customer and Users are not permitted to retrieve the
              source code by means such as reverse engineering or decompilation.
            </li>
            <li>
              RocketSim may take (technical) measures to protect the RocketSim
              App, the Services, the Documentation and any other materials.
              Where RocketSim has taken such security measures, Customer and
              Users are not permitted to circumvent or remove such security
              measures.
            </li>
            <li>
              In providing the Services RocketSim has the right to use
              third-party software and components, including open-source
              software.
            </li>
          </ol>
        </li>
        <li>
          <strong>Liability</strong>
          <ol class="sections">
            <li>
              RocketSim’s liability for any damage incurred by Customer due to a
              breach of RocketSim's obligations under the Agreement, including
              warranty obligations, or due to an unlawful act committed by
              RocketSim, its employees, or third parties engaged by RocketSim,
              is limited to an amount equivalent to the fees paid by the
              Customer to RocketSim under the Agreement in the six (6) months
              preceding the damaging event (excluding VAT), per event or related
              series of events. However, the total compensation for damages
              shall not exceed 5.000 euros per event or 25.000 euros per year
              (excluding VAT).
            </li>
            <li>
              RocketSim’ maximum liability for damages resulting from death,
              personal injury, or material damage to goods shall not exceed
              500.000 euros per damaging event, with a related series of events
              considered as a single event.
            </li>
            <li>
              The limitations of liability specified in the Agreement, including
              these Terms, do not apply if the damage is the result of
              RocketSim’s management's intent (opzet) or deliberate recklessness
              (bewuste roekeloosheid).
            </li>
            <li>
              RocketSim cannot not be held liable for damages caused by or
              associated with third- party software applications or for damages
              resulting from the use of applications in violation of license
              terms or for purposes not intended by the application in question.
            </li>
            <li>
              RocketSim’s liability due to a culpable breach of the Agreement
              arises only if the Customer promptly and accurately notifies
              RocketSim in writing of the breach, specifying a reasonable period
              for remedying the breach. If RocketSim fails to provide a proper
              remedy before the expiry of this period, the Customer's right to
              seek compensation shall arise. The notice of default must provide
              a detailed description of the breach for RocketSim to respond
              effectively.
            </li>
            <li>
              The Customer must report any damages to RocketSim in writing
              within fourteen (14) days after the damages were discovered or
              could reasonably have been discovered; failure to do so will
              result in the forfeiture of the right to claim compensation.
            </li>
            <li>
              The Customer shall indemnify and hold RocketSim harmless against
              all claims from third parties arising from the Agreement,
              providing full indemnity to RocketSim. This indemnification also
              includes claims related to the Customer's failure to fulfill its
              obligations and those of third parties, including Users falling
              under the Customer's responsibility and Supervisory Authorities.
            </li>
          </ol>
        </li>
        <li>
          <strong>Malfunctions and Force Majeure</strong>
          <ol class="sections">
            <li>
              Neither Party is obliged to fulfil any obligation if it is
              prevented from doing so as a result of force majeure.
            </li>
            <li>
              Force majeure for RocketSim refers to any circumstance beyond
              RocketSim’s control that prevents the fulfillment of its
              obligations to the Customer, either in whole or in part, or makes
              it unreasonable to expect RocketSim to fulfill these obligations.
              This applies regardless of whether the circumstance was
              foreseeable at the time of entering into the Agreement. Such
              circumstances include, but are not limited to:
              <ol class="subsections">
                <li>
                  emergency situations (e.g., extreme weather conditions, fire,
                  and lightning strikes);
                </li>
                <li>
                  failures in telecommunications infrastructure and the internet
                  that are beyond RocketSim’s control, including (D)DoS attacks;
                </li>
                <li>
                  disruptions in the (power) infrastructure of third parties
                  located outside the data center;
                </li>
                <li>
                  shortcomings by parties on whom RocketSim relies for the
                  provision of the Services;
                </li>
                <li>
                  defects in any business, equipment, software, or materials
                  that the Customer has specified for RocketSim to use;
                </li>
                <li>pandemics;</li>
                <li>government measures.</li>
              </ol>
            </li>
            <li>
              If a force majeure situation lasts longer than four weeks, each of
              the Parties has the right to terminate (ontbinden) the Agreement
              in the interim. In that case, what has already been performed on
              the basis of the Agreement will be settled proportionately,
              without the Parties owing each other anything (geen
              ongedaanmakingsverbintenissen).
            </li>
            <li>
              The Customer is not entitled to any (damage) compensation in the
              event of force majeure.
            </li>
          </ol>
        </li>
        <li>
          <strong>Confidentiality</strong>
          <ol class="sections">
            <li>
              The Parties shall treat information provided to each other before,
              during, or after the execution of the Agreement as confidential,
              especially when such information is marked as confidential or when
              the receiving Party is aware or should reasonably be aware that
              the information was intended to be kept confidential. Both Parties
              shall extend this obligation to their respective employees and to
              third parties engaged for the execution of the Agreement.
            </li>
            <li>
              RocketSim will not access data stored and/or transmitted through
              RocketSim’s systems by the Customer, unless such access is
              necessary for the proper execution of the Agreement or is required
              by legal obligations or a court order. In such cases, RocketSim
              will make every effort to limit access to the data as much as
              possible, within its capacity.
            </li>
            <li>
              The confidentiality obligation will continue to apply even after
              the termination of the Agreement, irrespective of the reason for
              termination, and for as long as the providing Party can reasonably
              argue that the information remains confidential.
            </li>
          </ol>
        </li>
        <li>
          <strong>Amendment and third-party terms</strong>
          <ol class="sections">
            <li>
              RocketSim reserves the right to unilaterally modify or supplement
              these Terms except for the agreed rates. These modifications also
              apply to pre-existing Agreements. Contractual changes take effect
              for existing Agreements thirty (30) days after notifying the
              Customer through electronic notification. Minor changes, changes
              required by law, and changes benefiting the Customer can be made
              at any time.
            </li>
            <li>
              If the intended change(s) significantly affects the Services or
              the position of the Customer, the Customer may terminate
              (opzeggen) the Agreement, provided that the notification to this
              effect has been received by RocketSim before the date on which the
              change takes effect. The Customer has no right to compensation for
              damage caused directly or indirectly by the modification of the
              Services.
            </li>
            <li>
              Products and/or services of third parties may be part of the
              Services. If that is the case, the (general) terms and conditions
              of the third party in question also apply to (the use of) those
              products and/or services.
            </li>
          </ol>
        </li>
        <li>
          <strong
            >Transfer of rights and use of the Services by other parties</strong
          >
          <ol class="sections">
            <li>
              The Customer is not authorized to transfer the rights and
              obligations under the Agreement to a third party, including
              through mergers or acquisitions in any form, without obtaining
              prior written consent from RocketSim.
            </li>
            <li>
              The Customer hereby grants RocketSim in advance, without requiring
              express consent from the Customer, the authority to transfer all
              or part of the Agreement, concluded between the Parties, to
              parent, sister, and/or subsidiary companies, or a third party in
              the event of a merger or acquisition. RocketSim will notify the
              Customer if such a transfer has occurred.
            </li>
            <li>
              If the Customer permits employees or third parties to use the
              Services their use will be considered as use by the Customer for
              the purpose of fulfilling the Customer's obligations. The Customer
              guarantees that the same obligations are imposed on these
              individuals or entities (whether legal or natural persons) as are
              imposed on the Customer, and the Customer is fully liable to
              RocketSim for their actions.
            </li>
          </ol>
        </li>
        <li>
          <strong>Miscellaneous</strong>
          <ol class="sections">
            <li>
              These Terms and all legal relationships arising from or related to
              it are exclusively governed by Dutch law.
            </li>
            <li>
              Unless mandatory laws dictate otherwise, all disputes arising from
              or related to these Terms shall be brought before the competent
              court of <em>Noord-Holland</em>, location
              <em>Alkmaar</em>.
            </li>
            <li>
              If any provision of these Terms is found to be null and void, it
              shall not affect the validity of the entire Terms. In such a case,
              RocketSim shall replace the void provision with a new one that
              aligns with the intent of the original provision to the fullest
              extent permitted by law
            </li>
            <li>
              Information and communications on the website of RocketSim are
              subject to programming and typing errors.
            </li>
            <li>
              The version of any communication received or stored by RocketSim
              (including log files) shall be considered authentic unless
              Customers provides evidence to the contrary.
            </li>
            <li>
              All legal claims of Customer under these Terms shall expire and
              lapse after one year, except where mandatory laws dictate
              otherwise. The one-year period commences from the day on which the
              performance of obligations under these Terms, becomes due and
              payable. The foregoing does not affect the applicable legal
              limitation period for any claims of RocketSim.
            </li>
          </ol>
        </li>
      </ol>
      <p><em>Last updated: April 9th, 2025</em></p>
    </div>
  </div>
</Base>
