---
import { Image } from "astro:assets";
import { marked } from "marked";
import type { CollectionEntry } from "astro:content";

import config from "@/config/config.json";

interface Props {
  data: CollectionEntry<"feature">["data"];
}

const {
  data: { asset, tagLine, name, blogId, youtubeLink },
} = Astro.props;
const parsedCaption = asset.caption
  ? marked.parseInline(asset.caption)
  : undefined;

let blogPath;

if (blogId) {
  const blogBaseUrl = config.blog.base_url;
  const res = await fetch(
    `${blogBaseUrl}/wp-json/wp/v2/posts/${blogId}?_fields=slug`,
  );
  const { slug } = (await res.json()) as { slug: string };
  blogPath = `/blog/${slug}`;
}

let imageSizes;

if (asset.alignment === "full-width") {
  imageSizes =
    "(max-width: 375px) 21.5rem, ((min-width: 376px) and (max-width: 799px)) 40rem, ((min-width: 800px) and (max-width: 1050px)) 55.625rem, 71.25rem";
} else {
  if (asset.columnSpan === 6) {
    imageSizes =
      "(max-width: 375px) 21.5rem, ((min-width: 376px) and (max-width: 799px)) 40rem, ((min-width: 800px) and (max-width: 1050px)) 26.8125rem, 34.625rem";
  }

  if (asset.columnSpan === 8) {
    imageSizes =
      "(max-width: 375px) 21.5rem, ((min-width: 376px) and (max-width: 799px)) 40rem, ((min-width: 800px) and (max-width: 1050px)) 36.375rem, 46.875rem";
  }
}
---

<style>
  article {
    row-gap: 2rem;
  }

  .figure {
    margin: 0;

    @media (min-width: 800px) {
      grid-column: var(--image-column);
    }
  }

  .figure--before-content {
    grid-row: 1;
  }

  figcaption {
    margin-top: 1rem;

    text-align: center;
  }

  .image {
    width: 100%;
    height: auto;

    border-radius: 1.25rem;
  }

  .feature-content {
    @media (min-width: 800px) {
      grid-column: var(--content-column);
      align-self: center;
    }
  }

  .feature-content__content {
    & :global(strong) {
      font-weight: 400;
    }

    & :global(p) {
      margin: 0 0 1rem;

      font-size: 1rem;
    }

    & :global(ul) {
      padding-left: 1.75rem;
      margin: 1rem 0;

      font-size: 1rem;

      list-style: initial;
    }
  }

  .feature-content__content--big {
    & :global(p) {
      margin-top: 2rem;

      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.33341;
      letter-spacing: -0.003em;
    }
  }

  .title {
    margin: 0 0 0.5rem;

    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .title--big {
    font-size: 3rem;
    line-height: 1.05556;
    font-weight: 600;
    letter-spacing: -0.006em;

    @media (min-width: 800px) {
      font-size: 4.5rem;
    }
  }

  .title--dim {
    color: var(--text-color);
  }
</style>

<article
  class="deprecated-grid"
  data-aos={asset.alignment === "full-width" ? undefined : "fade-up"}
>
  <div
    class="feature-content"
    style={{
      "--content-column":
        asset.alignment === "full-width"
          ? "2 / -2"
          : `${asset.alignment === "left" ? `span ${12 - asset.columnSpan}` : 1} / ${asset.alignment === "left" ? -1 : `span ${12 - asset.columnSpan}`}`,
    }}
    data-aos={asset.alignment === "full-width"
      ? "fade-in"
      : asset.alignment === "left"
        ? "fade-left"
        : "fade-right"}
  >
    <h3
      class:list={[
        "title",
        {
          "title--dim": !!tagLine,
          "title--big": asset.alignment === "full-width",
        },
      ]}
    >
      {name}
    </h3>
    {tagLine ? <h4 class:list={["title", "title--big"]}>{tagLine}</h4> : null}
    <div
      class:list={[
        "feature-content__content",
        {
          "feature-content__content--big": asset.alignment === "full-width",
        },
      ]}
    >
      <slot />
      {
        blogPath || youtubeLink ? (
          <p>
            {blogPath ? <a href={blogPath}>Learn more</a> : null}
            {blogPath && youtubeLink ? (
              <span style="margin: 0 0.5rem;">·</span>
            ) : null}
            {youtubeLink ? (
              <a href={youtubeLink} target="_blank" rel="noopener">
                Watch demo
              </a>
            ) : null}
          </p>
        ) : null
      }
    </div>
  </div>
  <figure
    class:list={[
      "figure",
      { "figure--before-content": asset.alignment === "left" },
    ]}
    style={{
      "--image-column":
        asset.alignment === "full-width"
          ? `${(12 - asset.columnSpan) / 2 + 1} / span ${asset.columnSpan}`
          : `${asset.alignment === "left" ? 1 : `span ${asset.columnSpan}`} / ${asset.alignment === "left" ? `span ${asset.columnSpan}` : -1}`,
    }}
    data-aos={asset.alignment === "full-width" ? "fade-up" : undefined}
    data-aos-offset={asset.alignment === "full-width" ? "150" : undefined}
  >
    {
      asset.type === "image" ? (
        <Image
          src={asset.path}
          alt={asset.alt}
          class="image"
          widths={[360, 640, 800, 1200, 1500, 2000, 2500, 3000, 3420]}
          sizes={imageSizes}
          quality={95}
        />
      ) : (
        <video
          class="image js-feature-video"
          aria-label={asset.alt}
          muted
          playsinline
          loop
        >
          <source src={asset.path} type="video/mp4" />
        </video>
      )
    }
    {
      parsedCaption ? (
        <figcaption
          set:html={parsedCaption}
          data-aos="fade-up"
          data-aos-delay="1000"
        />
      ) : null
    }
  </figure>
</article>

<script>
  // Astro de-duplicates scripts, so this will only run once even if there are multiple feature components on the page
  document.addEventListener("astro:page-load", () => {
    const videos = document.querySelectorAll(".js-feature-video");

    // Force videos to load their sources after navigation
    videos.forEach((video) => {
      const videoElement = video as HTMLVideoElement;
      videoElement.load();
    });

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          const videoElement = entry.target as HTMLVideoElement;
          if (entry.isIntersecting) {
            videoElement.play();
          } else {
            videoElement.pause();
          }
        });
      },
      { threshold: 0.5 },
    );

    videos.forEach((video) => {
      observer.observe(video);
    });
  });
</script>
