---
import { Image } from "astro:assets";

import appIcon from "../assets/rocketsim-app-icon.png";

interface Props {
  title: string;
  logo: ImageMetadata;
  logoAlt: string;
  scrollText?: string;
}

const { title, logo, logoAlt, scrollText } = Astro.props;
---

<style>
  .hero {
    margin-top: 3rem;

    @media (min-width: 600px) {
      margin-top: 5rem;
    }

    @media (min-width: 800px) {
      margin-top: 10rem;
    }
  }

  .hero__content {
    @media (min-width: 800px) {
      grid-column: 1 / span 7;
    }
  }

  h1 {
    display: inline-flex;
    margin: 0 0 1rem;
  }

  h2 {
    margin: 0 0 0.5rem;

    font-size: 2rem;
    font-weight: 600;
    line-height: 1.05;
    letter-spacing: -0.006rem;
  }

  a {
    display: inline-flex;
  }

  p {
    margin: 0 0 1rem;
  }

  .hero__rocketsim {
    &:focus-visible {
      outline: 0.125rem solid var(--ring);
      border-radius: 0.25rem;
    }
  }

  .hero__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 800px) {
      grid-column: span 5 / -1;
    }
  }

  .logo-image {
    width: 4rem;
    height: auto;

    @media (min-width: 800px) {
      width: 16rem;
    }
  }
</style>
<header>
  <div class="grid hero">
    <div class="hero__content">
      <h1>
        <a href="/" aria-label="RocketSim" class="hero__rocketsim"
          ><Image src={logo} alt={logoAlt} height="48" /></a
        >
      </h1>
      <h2>{title}</h2>
      <p>
        <slot />
      </p>
      <p>{scrollText}</p>
    </div>
    <div class="hero__logo">
      <Image
        src={appIcon}
        widths={[128, 512]}
        sizes="(max-width: 767px) 4rem, 16rem"
        alt="RocketSim app icon"
        class="logo-image"
      />
    </div>
  </div>
</header>
