---
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const sectionData = (await getEntry(
  "comparePlansSectionCollection",
  "compare-plans",
)) as CollectionEntry<"comparePlansSectionCollection">;
const { enable, title, compare_plans } = sectionData.data;
---

{
  enable && (
    <section class="section">
      <div class="container">
        <div class="section-container">
          <div class="section-intro centralize" data-aos="fade-up-sm">
            <h2
              class="title hasEmphasize"
              data-aos="fade-up-sm"
              data-aos-delay="0"
              set:html={markdownify(title)}
            />
          </div>
          {compare_plans && (
            <>
              {/* Desktop View */}
              <div
                class="hidden lg:block"
                data-aos="fade-up-sm"
                data-aos-delay="100"
              >
                <div class="rounded-xl overflow-hidden">
                  <table class="w-full border-collapse">
                    <thead>
                      <tr class="text-white text-left text-xl font-medium">
                        <th class="px-10 py-4 border-border border-b">
                          {compare_plans.compare}
                        </th>
                        <th class="px-10 py-4 border-border border-b text-center">
                          {compare_plans.free}
                        </th>
                        <th class="px-10 py-4 border-border border-b text-center">
                          {compare_plans.individual}
                        </th>
                        <th class="px-10 py-4 border-border border-b text-center">
                          {compare_plans.teams}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {compare_plans.item.map((item) => (
                        <>
                          <tr>
                            <td
                              colspan="4"
                              class="px-10 pb-4 pt-12 font-medium text-3xl"
                            >
                              <div class="text-text-light pb-2">{item.title}</div>
                              {item.description && (
                                  <p class="text-base text-dark leading-relaxed">{item.description}</p>
                                )}
                            </td>
                          </tr>
                          {item.list.map((listItem, idx: number) => (
                            <tr
                              class={`border-y border-border
                                ${idx === 0 ? "border-t-0" : ""}
                                ${idx === item.list.length - 1 ? "border-b-0" : ""}
                              `}
                            >
                              <td class="px-10 py-4 text-text-light">
                                {listItem.item}
                              </td>
                              <td class="px-10 py-4 text-center">
                                {listItem.free === true ? (
                                  <svg
                                    class="inline-block text-primary"
                                    width="22"
                                    height="22"
                                    viewBox="0 0 22 22"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path
                                      d="M14.7812 8.9375L9.73672 13.75L7.21875 11.3438"
                                      stroke="currentColor"
                                      stroke-width="1.5"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                    />
                                    <path
                                      d="M11 19.25C15.5563 19.25 19.25 15.5563 19.25 11C19.25 6.44365 15.5563 2.75 11 2.75C6.44365 2.75 2.75 6.44365 2.75 11C2.75 15.5563 6.44365 19.25 11 19.25Z"
                                      stroke="currentColor"
                                      stroke-width="1.5"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                    />
                                  </svg>
                                ) : listItem.free === false ? (
                                  <svg
                                    class="inline-block text-dark"
                                    width="22"
                                    height="22"
                                    viewBox="0 0 22 22"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path
                                      d="M11 19.25C15.5563 19.25 19.25 15.5563 19.25 11C19.25 6.44365 15.5563 2.75 11 2.75C6.44365 2.75 2.75 6.44365 2.75 11C2.75 15.5563 6.44365 19.25 11 19.25Z"
                                      stroke="currentColor"
                                      stroke-width="1.5"
                                      stroke-miterlimit="10"
                                    />
                                    <path
                                      d="M13.75 8.25L8.25 13.75M13.75 13.75L8.25 8.25"
                                      stroke="currentColor"
                                      stroke-width="1.5"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                    />
                                  </svg>
                                ) : (
                                  listItem.free
                                )}
                              </td>
                              <td class="px-10 py-4 text-center">
                                {listItem.individual === true ? (
                                  <svg
                                    class="inline-block text-primary"
                                    width="22"
                                    height="22"
                                    viewBox="0 0 22 22"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path
                                      d="M14.7812 8.9375L9.73672 13.75L7.21875 11.3438"
                                      stroke="currentColor"
                                      stroke-width="1.5"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                    />
                                    <path
                                      d="M11 19.25C15.5563 19.25 19.25 15.5563 19.25 11C19.25 6.44365 15.5563 2.75 11 2.75C6.44365 2.75 2.75 6.44365 2.75 11C2.75 15.5563 6.44365 19.25 11 19.25Z"
                                      stroke="currentColor"
                                      stroke-width="1.5"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                    />
                                  </svg>
                                ) : listItem.individual === false ? (
                                  <svg
                                    class="inline-block text-dark"
                                    width="22"
                                    height="22"
                                    viewBox="0 0 22 22"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path
                                      d="M11 19.25C15.5563 19.25 19.25 15.5563 19.25 11C19.25 6.44365 15.5563 2.75 11 2.75C6.44365 2.75 2.75 6.44365 2.75 11C2.75 15.5563 6.44365 19.25 11 19.25Z"
                                      stroke="currentColor"
                                      stroke-width="1.5"
                                      stroke-miterlimit="10"
                                    />
                                    <path
                                      d="M13.75 8.25L8.25 13.75M13.75 13.75L8.25 8.25"
                                      stroke="currentColor"
                                      stroke-width="1.5"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                    />
                                  </svg>
                                ) : (
                                  listItem.individual
                                )}
                              </td>
                              <td class="px-10 py-4 text-center">
                                {listItem.teams === true ? (
                                  <svg
                                    class="inline-block text-primary"
                                    width="22"
                                    height="22"
                                    viewBox="0 0 22 22"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path
                                      d="M14.7812 8.9375L9.73672 13.75L7.21875 11.3438"
                                      stroke="currentColor"
                                      stroke-width="1.5"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                    />
                                    <path
                                      d="M11 19.25C15.5563 19.25 19.25 15.5563 19.25 11C19.25 6.44365 15.5563 2.75 11 2.75C6.44365 2.75 2.75 6.44365 2.75 11C2.75 15.5563 6.44365 19.25 11 19.25Z"
                                      stroke="currentColor"
                                      stroke-width="1.5"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                    />
                                  </svg>
                                ) : listItem.teams === false ? (
                                  <svg
                                    class="inline-block text-dark"
                                    width="22"
                                    height="22"
                                    viewBox="0 0 22 22"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path
                                      d="M11 19.25C15.5563 19.25 19.25 15.5563 19.25 11C19.25 6.44365 15.5563 2.75 11 2.75C6.44365 2.75 2.75 6.44365 2.75 11C2.75 15.5563 6.44365 19.25 11 19.25Z"
                                      stroke="currentColor"
                                      stroke-width="1.5"
                                      stroke-miterlimit="10"
                                    />
                                    <path
                                      d="M13.75 8.25L8.25 13.75M13.75 13.75L8.25 8.25"
                                      stroke="currentColor"
                                      stroke-width="1.5"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                    />
                                  </svg>
                                ) : (
                                  listItem.teams
                                )}
                              </td>
                            </tr>
                          ))}
                        </>
                      ))}
                    </tbody>
                  </table>
                </div>
              </div>

              {/* Mobile View */}
              <div
                class="lg:hidden space-y-8"
                data-aos="fade-up-sm"
                data-aos-delay="100"
              >
                {(["free", "individual", "teams"] as const).map((planName) => (
                  <div class="rounded-xl overflow-hidden">
                    <div class="text-white text-xl font-medium p-4 text-center border-border border-b">
                      {(compare_plans)[planName]} plan
                    </div>
                    {compare_plans.item.map((item) => (
                      <div class="py-12 ">
                        <div class="font-medium text-text-light mb-2 text-3xl">{item.title}</div>
{item.description && (
                                  <p class="text-base text-dark">{item.description}</p>
                                )}
                        {item.list.map((listItem) => {
                          const value = listItem[planName];
                          return (
                            <div class="py-4 flex justify-between items-center text-text-light border-b border-border last:border-b-0">
                              <span>{listItem.item}</span>
                              <span class="text-text">
                                {value === true ? (
                                  <svg
                                    class="text-primary"
                                    width="22"
                                    height="22"
                                    viewBox="0 0 22 22"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path
                                      d="M14.7812 8.9375L9.73672 13.75L7.21875 11.3438"
                                      stroke="currentColor"
                                      stroke-width="1.5"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                    />
                                    <path
                                      d="M11 19.25C15.5563 19.25 19.25 15.5563 19.25 11C19.25 6.44365 15.5563 2.75 11 2.75C6.44365 2.75 2.75 6.44365 2.75 11C2.75 15.5563 6.44365 19.25 11 19.25Z"
                                      stroke="currentColor"
                                      stroke-width="1.5"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                    />
                                  </svg>
                                ) : value === false ? (
                                  <svg
                                    width="22"
                                    height="22"
                                    viewBox="0 0 22 22"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path
                                      d="M11 19.25C15.5563 19.25 19.25 15.5563 19.25 11C19.25 6.44365 15.5563 2.75 11 2.75C6.44365 2.75 2.75 6.44365 2.75 11C2.75 15.5563 6.44365 19.25 11 19.25Z"
                                      stroke="currentColor"
                                      stroke-width="1.5"
                                      stroke-miterlimit="10"
                                    />
                                    <path
                                      d="M13.75 8.25L8.25 13.75M13.75 13.75L8.25 8.25"
                                      stroke="currentColor"
                                      stroke-width="1.5"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                    />
                                  </svg>
                                ) : (
                                  value
                                )}
                              </span>
                            </div>
                          );
                        })}
                      </div>
                    ))}
                  </div>
                ))}
              </div>
            </>
          )}
        </div>
      </div>
    </section>
  )
}
