---
import ImageMod from "@/components/ImageMod.astro";
import RightArrowBtn from "@/components/RightArrowBtn.astro";
import { markdownify } from "@/lib/utils/textConverter";

interface SubFeature {
  enable: boolean;
  title: string;
  description: string;
  highlights: { enable: boolean; title: string }[];
  feature_image: { src: string; alt: string };
  button: { enable: boolean; label: string; url: string };
}

interface Props {
  list: SubFeature[];
}

const { list } = Astro.props;
---

<section class="section">
  <div class="container">
    <div class="section-container">
      <div class="section-content">
        <div class="flex flex-col gap-20 lg:gap-28">
          {
            list
              .filter((f) => f.enable)
              .map((item, index) => {
                const isOdd = index % 2 !== 0;
                const isVideo =
                  item.feature_image.src.endsWith(".mp4") ||
                  item.feature_image.src.endsWith(".mov");

                return (
                  <div
                    class:list={[
                      "flex flex-col lg:flex-row gap-y-12 items-center",
                      { "lg:flex-row-reverse": isOdd },
                    ]}
                  >
                    {/* Feature IMAGE / VIDEO */}
                    <div class="lg:w-6/12">
                      <div data-aos="fade-up-sm" data-aos-delay="150">
                        <div class="inline-block relative before:bg-primary/25 before:absolute before:inset-x-0 before:top-0 before:h-[92%] before:-z-10 before:rounded-xl rounded-xl px-6 pt-6">
                          {isVideo ? (
                            <video
                              class="w-full max-w-[580px] shadow-4xl rounded-xl js-feature-video"
                              aria-label={item.feature_image.alt}
                              muted
                              playsinline
                              loop
                            >
                              <source
                                src={item.feature_image.src}
                                type="video/mp4"
                              />
                            </video>
                          ) : (
                            <ImageMod
                              width={780}
                              height={550}
                              src={item.feature_image.src}
                              alt={item.feature_image.alt}
                              class="w-full max-w-[580px] shadow-4xl rounded-xl"
                            />
                          )}
                        </div>
                      </div>
                    </div>

                    {/* Feature Content */}
                    <div
                      class:list={[
                        "lg:w-6/12",
                        { "lg:pr-20 lg:pl-0": isOdd },
                        { "lg:pl-20": !isOdd },
                      ]}
                      data-aos="fade-up-sm"
                      data-aos-delay="50"
                    >
                      <h3
                        class="text-h4-sm hasEmphasize [&>em]:before:-translate-y-2!"
                        set:html={markdownify(item.title)}
                      />
                      <p
                        class="mt-4 text-text/80"
                        set:html={markdownify(item.description)}
                      />
                      {item.highlights.length > 0 && (
                        <ul class="list-disc mt-6 ml-6 space-y-2">
                          {item.highlights
                            .filter((f) => f.enable)
                            .map((highlight) => (
                              <li class="font-medium text-lg">
                                {highlight.title}
                              </li>
                            ))}
                        </ul>
                      )}
                      {item.button.enable && (
                        <RightArrowBtn
                          label={item.button.label}
                          link={item.button.url}
                          className="rounded-full btn-text-dark mt-10"
                        />
                      )}
                    </div>
                  </div>
                );
              })
          }
        </div>
      </div>
    </div>
  </div>
</section>
